:root {
  --primary-color: #519872;
  --secondary-color: #3B5249;
  --text-color: #ffffff;
  --transition-speed: 0.3s;
}

/* 
[data-theme='dark'] {
 
} */


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-container {
  display: flex; 
  width: 100vw;
  height: 100vh;
}


.main-content {
  flex-grow: 1; 
  height: 100%;
  overflow-y: auto; 
  background-color: #E8DAB2; 
}